<%- include("partials/header");  -%>

<div class="jumbotron">
    <h1 class="display-4">Hi!</h1>
    <p class="lead">Myself Ayush Katiyar .  I am a student , currently pursuing B.Tech in Computer Science and Engineering .</p>
    <hr class="my-4">
    <p>For feedback and any query head over to contact page . Feel free to provide your feedback .</p>
  </div>
<%- include("partials/footer");  -%> 