<%- include("partials/header"); -%>
    <h2 class="font-weight-bold text-center ">Contact me</h2>
    <h3 class="font-weight-bold text-center" style="font-size: large;">mail us at:<a href="mailto:katiyarayush2000@gmail.com" >katiyarayush2000@gmail.com </a></h3>
<%- include("partials/footer"); -%>